  <script src="all-font-awesome.js"></script>


<div style="margin-left:auto; margin-right: auto; width: 100%">
    <div id="menu" style="background-color:darkred; width: 100%; height:50px; position:fixed; z-index:9">
        <a class="logo" href='/' style="position: fixed;height:auto; padding:14px 0 0 50px;color:white; font-size:1.1em"> Phượng đỏ </a>

    </div>
</div>

    <div id="inspiration-page" style="height:100%; overflow:scroll; z-index:0; position: fixed;left: 40%;width:60%; padding:0px 0px 0px 15px; border-left: 2px solid black">
        <div style="padding-top:70px;font-size:1.3em">Hãy viết bài thơ của bạn </div>
        <div style="padding-top:10px;" id="inspiration-word">

        </div>
        <div id="myModal" class="modal">
                  <!-- The Close Button -->
                  <span class="close">&times;</span>

                  <!-- Modal Content (The Image) -->
                  <img class="modal-content" id="img01">

                  <!-- Modal Caption (Image Text) -->
                  <div id="caption">
                  </div>
                </div>

        <div style="width:100%; display:flex; padding:15px 0px 30px 0px;" >
            <img id="inspiration-image" alt="Từ cảm hứng của ngày là: " >

            <!-- The Modal -->

            <div style="padding-left:37px;">
                <form id="form">
                    <label>Tên bài thơ</label>
                    <input type = "text" id="title">
                    <br>
                    <div style="padding:3px 0px 3px 0px">
                        <div style="display:inline-block; width: 50%;">Bài thơ của bạn</div>

                        <div id="poem-align" style="display:flex; float:right;">
                            <div id='left' style="padding:0px 3px 0px 3px; color:darkred"><i class="fas fa-align-left"></i></div>
                            <div id='center' style="padding:0px 3px 0px 3px"><i class="far fa-align-center"></i></div>
                            <div id='right' style="padding:0px 3px 0px 3px"><i class="far fa-align-right"></i></div>
                        </div>
                    </div>
                    <textarea id = "content" class = "submit-poem" style='text-align: left' placeholder="Từ đầu tiên"></textarea>
                    <br>
                    <label id="please-signin"></label>
                    <input id = "poem-submit" type="button" value="Viết" onclick="submitPoem()">
                    <div style="width:300px"><label id= "poem-submit-status" style="color:red; display:block;word-break:break-word; width:100%; padding-right:3px"></label></div>
                </form>
            </div>
        </div>



    </div>


    <script>
    window.getCookie = function(name) {
       var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));

       if (match) {
           x = match[2];
           y = decodeURIComponent(decodeURIComponent(match[2]));
           return y;
       }
    };

    function authenticate() {
        var authenticate_url = '/authenticate?uname=' + getCookie('uname') +"&session_cookie="+ decodeURIComponent(getCookie('session_cookie'));


        fetch(authenticate_url, {method:'get'})
        .then((res) => {return res.json();})
        .then((data) => {
            var user_menu = document.createElement('div');
            user_menu.classList.add('user-menu');
            user_menu.style.cssText += "float:right; height:50px; padding-right:50px";

            if (data == "true" || data == true) {
                //show loggedin homepage
                user_menu.innerHTML ="<div id='notification' class='dropdown' style='position:relative; display:inline-block'>" +
                                         "<i id= 'noti-bell' class='fa fa-bell noti-bell' style='padding:16px 14px 12px 14px;'></i>" +
                                         "<div id = 'dropdown-content' class='dropdown-content' style='display:none; position: absolute; width:360px; right:0'>" +
                                             "<div id='noti-header' class='noti-header'>" +
                                                 "<b>Gần đây</b>" +
                                             "</div>" +
                                             "<ul id='noti-list' style='list-style: none; padding:0px; margin:0px; max-height:200px; overflow:scroll;'>" +
                                             "</ul>" +
                                             "<div id='home-btn' class='noti-footer'>" +
                                                 "<a hreft='#'> Tới những bài thơ của bạn. </a>" +
                                             "</div>" +
                                         "</div>"+
                                     "</div>" +
                                     "<div id='options' class='dropdown' style='float:right; position:relative; display:inline-block'>" +
                                         "<i id='options-arrow' class='fa fa-chevron-down opt-arrow' style='padding:16px 14px 12px 14px;'></i>" +
                                         "<div id='options-content' class='options-content' style='display:none; position: absolute; width:200px; right:0'>" +
                                             "<div id = 'user' class='option'><i>" + getCookie('uname').replace(/%20/g, " ") + "</i></div>" +
                                             "<div class='option'><a href='/doi-mat-khau'>Đổi mật khẩu</a></div>" +
                                             "<div class='option'><a href='/logout'>Đăng xuất</a></div>" +
                                         "</div>" +
                                     "</div>";

                document.getElementById('menu').appendChild(user_menu);
                var noti_bell = document.getElementById("noti-bell");

                noti_bell.onmouseover = function () {this.style.color = "white";};
                noti_bell.onmouseout = function () {this.style.color = "#c2c2c2";};

                var drop_down_content = document.getElementById('dropdown-content');
                noti_bell.addEventListener('click', function () {
                    options_arr.style.color = "#c2c2c2";
                    options_content.style.display = 'none';
                    if (drop_down_content.style.display == "none") {
                        drop_down_content.style.display = "block";
                        noti_bell.style.color = 'white';
                        noti_bell.onmouseover = function () {};
                        noti_bell.onmouseout = function() {};
                    } else {
                        drop_down_content.style.display = "none";
                        noti_bell.style.color = '#c2c2c2';
                        noti_bell.onmouseover = function () {this.style.color = 'white'};
                        noti_bell.onmouseout = function() {this.style.color = '#c2c2c2'};
                    }
                });

                var noti_cnt = 0;

                var now = new Date();

                var loadNotification = function () {
                    var noti_list = document.getElementById('noti-list');

                    fetch('get-noti?uname=' + getCookie('uname'), {method: 'GET'})
                    .then((res) => { return res.json();})
                    .then((data) => {

                        if (data == undefined || data == null || data.length == 0){
                            var li = document.createElement('li');
                            li.classList += "noti-content";

                            li.innerHTML = "<a class='noti-a' ><div class='noti-info'> Bạn chưa có tin mới nào gần đây nhưng bạn có thể bắt đầu viết!</div></a>";
                            noti_list.appendChild(li);
                        } else {
                            for (var i = 0; i < data.length; i++) {
                                var reaction_time = new Date(data[i].react_time);
                                var diff = now - reaction_time;
                                var time_stamp = "";

                                if (diff > 24*60*60e3) {
                                    time_stamp = Math.floor(diff/24/60/60e3) + ' ngày trước';
                                } else if (diff > 60 * 60e3) {
                                    time_stamp = Math.floor(diff/60/60e3) + ' giờ trước';
                                } else if (diff > 60e3){
                                    time_stamp = Math.floor(diff / 60e3) + ' phút trước';
                                }else {
                                    time_stamp = Math.floor(diff / 1e3) + ' giây trước';
                                }

                                var li = document.createElement('li');
                                li.classList += "noti-content";
                                var href = "/doc-tho?id=" + data[i].to_poem_id;
                                li.innerHTML = "<a class='noti-a' href=" + href + "><div class='noti-info'>" +
                                data[i].reactor + " vừa phản ứng với bài thơ <i>" + data[i].title+ "</i><br>" + time_stamp + "</div></a>";
                                noti_list.appendChild(li);
                            }
                            noti_cnt += data.length;
                        }
                    });

                };

                document.getElementById("dropdown-content").scroll(function () {
                    if (this.scrollHeight - this.scrollTop === this.clientHeight) {
                    }
                });

                $('#noti-list').on('scroll', function(){
                    var ele = document.getElementById('noti-list');
                    if (ele.scrollHeight - ele.scrollTop === ele.clientHeight) { //Need to rethink else overload server with reqs
                        var get_next_noti = "/get_next_noti_batch?uname=Anonymous&cnt="+noti_cnt;
                        fetch(get_next_noti, {method: 'GET'})
                        .then((res) => {return res.json()})
                        .then((data) => {
                            var noti_list = document.getElementById('noti-list');
                            for (var i = 0; i < data.length; i++) {
                                var reaction_time = new Date(data[i].react_time);
                                var diff = now - reaction_time;
                                var time_stamp = "";

                                if (diff > 24*60*60e3) {
                                    time_stamp = Math.floor(diff/24/60/60e3) + ' ngày trước';
                                } else if (diff > 60 * 60e3) {
                                    time_stamp = Math.floor(diff/60/60e3) + ' tiếng trước';
                                } else if (diff > 60e3){
                                    time_stamp = Math.floor(diff / 60e3) + ' phút trước';
                                }else {
                                    time_stamp = Math.floor(diff / 1e3) + ' giây trước';
                                }

                                var li = document.createElement('li');
                                li.classList += "noti-content";
                                var href = "/doc-tho?id=" + data[i].to_poem_id;
                                li.innerHTML = "<a class='noti-a' href=" + href + "><div class='noti-info'>" +
                                data[i].reactor + " vừa phản ứng với bài thơ <i>" + data[i].title+ "</i><br>" + time_stamp + "</div></a>";
                                noti_list.appendChild(li);
                            }

                            noti_cnt += data.length;
                        })
                    }
                });

                loadNotification();

                var options_arr = document.getElementById('options-arrow');
                var options_content = document.getElementById('options-content');

                options_arr.onmouseover = function () {this.style.color = "white";};
                options_arr.onmouseout = function () {this.style.color = "#c2c2c2";};
                options_arr.addEventListener('click', function () {
                    noti_bell.style.color = '#c2c2c2';
                    drop_down_content.style.display = 'none';
                    if (options_content.style.display == "none") {
                        options_content.style.display = "block";
                        options_arr.onmouseover = function () {};
                        options_arr.onmouseout = function() {};
                    } else {
                        options_content.style.display = "none";
                        options_arr.onmouseover = function () {this.style.color = "white";};
                        options_arr.onmouseout = function () {this.style.color = "#c2c2c2";};
                    }
                });

                logged_in = true;
            } else {
                //show unloggedin homepage
                user_menu.innerHTML = '<a href="/tao-tai-khoan"><div style="color:white; position:relative; display:inline-block; padding:16px 14px 12px 14px;">Tạo tài khoản</div></a>' +
                                    '<a href="/dang-nhap"><i class="fas fa-sign-in-alt" style="color:white; position:relative; display:inline-block; padding:16px 14px 12px 14px"></i></a>';
                document.getElementById('poem-submit').style.cssText += "display:none";
                document.getElementById('please-signin').innerText = 'Hãy đăng nhập để viết bài thơ của bạn';                document.getElementById('menu').appendChild(user_menu);

                logged_in = false;
            }

        })
    }

    function getInspiration() {
        var inspiration_url = '/get-inspiration-of-the-day';

        fetch(inspiration_url, {method: 'get'})
        .then((res) => {return res.json();})
        .then((data) => {
            var inspiration_image = document.getElementById('inspiration-image');
            inspiration_image.src = data.src;

            var name = data.src.split("-");
            first_name = name[0].charAt(0).toUpperCase() + name[0].substring(1);
            second_name = name[1].charAt(0).toUpperCase() + name[1].substring(1);



            inspiration_image.alt += data.word;
            document.getElementById('inspiration-word').innerText = "Từ cảm hứng của ngày là: " + data.word;

            inspiration_image.onload = function () { //changing the size of the inspiration image
                var width = this.naturalWidth;
                var height = this.naturalHeight;

                var new_width = 400;
                var new_height = height / width * new_width;

                this.width = new_width;
                this.height = new_height;
                this.style.display = 'block';

            }

        });
    }

    var first_name;
    var second_name;

    //Poem api

    document.getElementById('left').onclick = function() {
        this.style.color = 'darkred';
        document.getElementById('center').style.color = 'black';
        document.getElementById('right').style.color = 'black';
        document.getElementById('content').style.textAlign = 'left';
    }


    document.getElementById('center').onclick = function() {
        this.style.color = 'darkred';
        document.getElementById('left').style.color = 'black';
        document.getElementById('right').style.color = 'black';
        document.getElementById('content').style.textAlign = 'center';

    }

    document.getElementById('right').onclick = function() {
        this.style.color = 'darkred';
        document.getElementById('center').style.color = 'black';
        document.getElementById('left').style.color = 'black';
        document.getElementById('content').style.textAlign = 'right';

    }

    var cut_poem_spaces = function (content) {
        // for (var i = 0 ; i < content.length; i++) {
        //     if (content.substring(i, i+1) == " ") {
        //         content = content.substring(i + 1);
        //         i--;
        //     } else if (content.substring(i, i + 2) == "\n") {
        //         content = content.substring(i + 2);
        //         i--;
        //     } else {
        //         break;
        //     }
        // }
        // if (content.length > 0) {
        //     for (var i = content.length - 1 ; i >= 0; i--) {
        //         if (content.substring(i, i+1) == " ") {
        //             content = content.substring(0, i)
        //         }
        //     }
        // } else {
        //     return "";
        // }

        first_char_index = 0;
        last_char_index = content.length - 1;

        console.log('length', content.length);

        for (var i = 0; i < content.length; i++) {
            if (i < content.length -1 && content.substring(i, i+2) != "\n") {
                console.log('new line detected', i)

            }
            if (content.substring(i, i+1) != "" && content.substring(i, i+1) != "\n") {
                first_char_index = i;
                break;
            }
        }

        for (var i = content.length - 1; i >= 0; i --) {
            if (content.substring(i, i + 1) != " " && content.substring(i, i+1) != "\n") {
                last_char_index = i;
                break;
            }
        }

        if (first_char_index > last_char_index) {
            return null;
        } else {
            console.log(first_char_index, last_char_index)
            return content.substring(first_char_index, last_char_index + 1)
        }


    }


    var submitPoem = function () {
         var title = document.getElementById("title").value;
         var content = document.getElementById("content").value;
         if (content == undefined || content == "") {
             document.getElementById('poem-submit-status').innerText = "Bài thơ của bạn chưa có nội dung";
         } else {
             if (title == undefined || title == "") {
                 document.getElementById("title").innerHTML = "Untitled";
                 title = "Không tên";
                 document.getElementById('poem-submit-status').innerText = "Bài thơ của bạn chưa có tên";
             } else {


                 content = cut_poem_spaces(content);

                 if (content != null) {
                     var data = {
                         title: title,
                         content: content,
                         author: getCookie('uname'),
                         align: document.getElementById('content').style.textAlign,
                         session_cookie: getCookie('session_cookie')
                     }


                     fetch('/submit_poem', {
                         method: 'POST',
                         headers: {'Content-Type': 'application/json'},
                         body: JSON.stringify(data)
                     }).then((response) => {
                         return response.json()
                     }).then((data) => {
                         poemStatus = document.getElementById('poem-submit-status');
                         submitBtn = document.getElementById('poem-submit');

                         poemStatus.innerText = data;
                         submitBtn.style.display = "none";
                         setTimeout(function ()  {
                             poemStatus.innerText = "";
                             submitBtn.style.display = "block";
                             document.getElementById('poem-align').style.display = "flex";
                         },
                         1000 * 3)
                     });
                 } else {
                     document.getElementById('poem-submit-status').innerText = "Bài thơ của bạn chưa có nội dung";
                 }
             }
         }

    };

    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("inspiration-image");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      document.getElementById('inspiration-page').style.zIndex = 10;
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = "Hình chụp bởi " + first_name + " " + second_name + " ở Unsplash" + "<br>" + this.alt;
    };

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      document.getElementById("inspiration-page").style.zIndex = 1;

      modal.style.display = "none";
    };



    </script>

    <script type="text/javascript">
        getInspiration();
        authenticate();
    </script>
    <style>

        #inspiration-page {
            font-family:"Times New Roman";
        }

        a {
            text-decoration: none;
        }

        #inspiration-image {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
            display:none;
        }

        .submit-poem {
            resize: none;
            height: 351px;
            width: 362px;
            outline: none;
            font-family: "Times New Roman";
            color: black;
            font-size: 1.1em;
            padding: 5px;

        }

        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 10; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.95); /* Black w/ opacity */
        }

        #caption {
          margin: auto;
          display: block;
          width: 80%;
          max-width: 700px;
          text-align: center;
          color: #ccc;
          padding: 10px 0;
          height: 150px;
        }

        .modal-content, #caption {
          animation-name: zoom;
          animation-duration: 0.6s;
        }

        .modal-content {
            margin: auto;
              display: block;
              height:70%;
              text-align: center;
              color: #ccc;
              padding: 10px 0;
              width: auto;
        }

        .modal-content, #caption {
          animation-name: zoom;
          animation-duration: 0.6s;
        }

        .close {
          position: absolute;
          top: 15px;
          right: 35px;
          color: #f1f1f1;
          font-size: 40px;
          font-weight: bold;
          transition: 0.3s;
        }


        .close:hover,
        .close:focus {
          color: #bbb;
          text-decoration: none;
          cursor: pointer;
        }

        .noti-header {
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            padding:5px 5px 5px 10px;
            font-size:1.05em;
            background: white;
        }

        .noti-footer {
            border-width:1px 1px 1px 1px;
            border-style: solid;
            border-color:darkgrey;
            padding:5px;
            font-size:0.8em;
            text-align:center;
        }
        .noti-info {
            padding: 5px 0px 5px 0px;
        }
        .noti-a {
            text-decoration:none;
            color: #5E5E5E;
        }

        .noti-bell {
            color:#c2c2c2;
            position:relative;
            display:inline-block;
            height:22px;

            cursor: pointer;
        }

        .noti-content {

            border-width:1px 1px 0px 1px;
            color: grey;
            font-size:1.1em;
            border-style: solid;
            border-color:darkgrey;
            padding:0px 15px 0px 15px;
        }


        .dropdown-content {
            font-family: "Times New Roman";
            color: #5E5E5E;
            padding:0px;
            list-style: none;
            font-size:1em;
            box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
            display:none;
            position:absolute;
            width:360px;
            right:0px;
            background: white;
        }

        .opt-arrow {
            height:22px;
            color: #c2c2c2;
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

        .options-content {
            font-family: "Times New Roman";
            color: #5E5E5E;
            padding:0px;
            font-size:1em;
            list-style: none;
            box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
            display:none;
            position: absolute;
            width:200px;
            right:0;
            background: white;
        }

        .option {
            padding: 5px;
        }
        .option a{
            color: #5E5E5E;
        }

        .option a:hover{
            color: darkred;
        }

        #title {
            outline: none;
        }

        #left {
            cursor: pointer;
        }

        #center {
            cursor: pointer;
        }

        #right{
            cursor: pointer;
        }
    </style>



