  <script src="all-font-awesome.js"></script>


<div style="margin-left:auto; margin-right: auto; width: 100%">
    <div id="menu" style="background-color:darkred; width: 100%; height:50px; position:fixed; ">
        <a class="logo" href='/' style="position: fixed;height:auto; padding:14px 0 0 50px;color:white; font-size:1.1em"> Phượng đỏ </a>
    </div>

</div>

<script>
window.getCookie = function(name) {
   var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));

   if (match) {
       x = match[2];
       y = decodeURIComponent(decodeURIComponent(match[2]));
       return y;
   }
};

function authenticate() {
    var authenticate_url = '/authenticate?uname=' + getCookie('uname') +"&session_cookie="+ getCookie('session_cookie');

    fetch(authenticate_url, {method:'get'})
    .then((res) => {return res.json();})
    .then((data) => {
        var user_menu = document.createElement('div');
        user_menu.classList.add('user-menu');
        user_menu.style.cssText += "float:right; height:50px; padding-right:50px";
        if (data == "true" || data == true) {
            //show loggedin homepage
            user_menu.innerHTML ="<div id='notification' class='dropdown' style='position:relative; display:inline-block'>" +
                                     "<i id= 'noti-bell' class='fa fa-bell noti-bell'></i>" +
                                     "<div id = 'dropdown-content' class='dropdown-content' style='display:none; position: absolute; width:360px; right:0'>" +
                                         "<div id='noti-header' class='noti-header'>" +
                                             "<b>Gần đây</b>" +
                                         "</div>" +
                                         "<ul id='noti-list' style='list-style: none; padding:0px; margin:0px; max-height:200px; overflow:scroll;'>" +
                                         "</ul>" +
                                         "<div id='home-btn' class='noti-footer'>" +
                                             "<a hreft='#'> Tới những bài thơ của bạn. </a>" +
                                         "</div>" +
                                     "</div>"+
                                 "</div>" +
                                 "<div id='options' class='dropdown' style='float:right; position:relative; display:inline-block'>" +
                                     "<i id='options-arrow' class='fa fa-chevron-down opt-arrow' style=''></i>" +
                                     "<div id='options-content' class='options-content' style='display:none; position: absolute; width:200px; right:0'>" +
                                         "<div class='option'><i>" + getCookie('uname').replace(/%20/g, " ") +"</i></div>" +
                                         "<div class='option'><a href='/doi-mat-khau'>Đổi mật khẩu</a></div>" +
                                         "<div class='option'><a href='/logout'>Đăng xuất</a></div>" +
                                     "</div>" +
                                 "</div>";

            document.getElementById('menu').appendChild(user_menu);
            var noti_bell = document.getElementById("noti-bell");

            noti_bell.onmouseover = function () {this.style.color = "white";};
            noti_bell.onmouseout = function () {this.style.color = "#c2c2c2";};

            var drop_down_content = document.getElementById('dropdown-content');
            noti_bell.addEventListener('click', function () {
                options_arr.style.color = "#c2c2c2";
                options_content.style.display = 'none';
                if (drop_down_content.style.display == "none") {
                    drop_down_content.style.display = "block";
                    noti_bell.style.color = 'white';
                    noti_bell.onmouseover = function () {};
                    noti_bell.onmouseout = function() {};
                } else {
                    drop_down_content.style.display = "none";
                    noti_bell.style.color = '#c2c2c2';
                    noti_bell.onmouseover = function () {this.style.color = 'white'};
                    noti_bell.onmouseout = function() {this.style.color = '#c2c2c2'};
                }
            });

            var noti_cnt = 0;

            var now = new Date();

            var loadNotification = function () {
                var noti_list = document.getElementById('noti-list');

                fetch('get-noti?uname=' + getCookie('uname'), {method: 'GET'})
                .then((res) => { return res.json();})
                .then((data) => {
                    if (data == undefined || data == null || data.length == 0){
                        var li = document.createElement('li');
                        li.classList += "noti-content";

                        li.innerHTML = "<a class='noti-a' ><div class='noti-info'> Bạn chưa có tin mới nào gần đây nhưng bạn có thể bắt đầu viết! </div></a>";
                        noti_list.appendChild(li);
                    } else {
                        for (var i = 0; i < data.length; i++) {
                            var reaction_time = new Date(data[i].react_time);
                            var diff = now - reaction_time;
                            var time_stamp = "";

                            if (diff > 24*60*60e3) {
                                time_stamp = Math.floor(diff/24/60/60e3) + ' ngày trước';
                            } else if (diff > 60 * 60e3) {
                                time_stamp = Math.floor(diff/60/60e3) + ' tiếng trước';
                            } else if (diff > 60e3){
                                time_stamp = Math.floor(diff / 60e3) + ' phút trước';
                            }else {
                                time_stamp = Math.floor(diff / 1e3) + ' giây trước';
                            }

                            var li = document.createElement('li');
                            li.classList += "noti-content";
                            var href = "/doc-tho?id=" + data[i].to_poem_id;
                            li.innerHTML = "<a class='noti-a' href=" + href + "><div class='noti-info'>" +
                            data[i].reactor + " just reacted to your poem <i>" + data[i].title+ "</i><br>" + time_stamp + "</div></a>";
                            noti_list.appendChild(li);
                        }
                        noti_cnt += data.length;
                    }
                });
            };

            document.getElementById("dropdown-content").scroll(function () {
                if (this.scrollHeight - this.scrollTop === this.clientHeight) {
                }
            });

            $('#noti-list').on('scroll', function(){
                var ele = document.getElementById('noti-list');
                if (ele.scrollHeight - ele.scrollTop === ele.clientHeight) { //Need to rethink else overload server with reqs
                    var get_next_noti = "/get_next_noti_batch?uname=Anonymous&cnt="+noti_cnt;
                    console.log('hey');
                    fetch(get_next_noti, {method: 'GET'})
                    .then((res) => {return res.json()})
                    .then((data) => {
                        var noti_list = document.getElementById('noti-list');
                        for (var i = 0; i < data.length; i++) {
                            var reaction_time = new Date(data[i].react_time);
                            var diff = now - reaction_time;
                            var time_stamp = "";

                            if (diff > 24*60*60e3) {
                                time_stamp = Math.floor(diff/24/60/60e3) + ' ngày trước';
                            } else if (diff > 60 * 60e3) {
                                time_stamp = Math.floor(diff/60/60e3) + ' giờ trước';
                            } else if (diff > 60e3){
                                time_stamp = Math.floor(diff / 60e3) + ' phút trước';
                            }else {
                                time_stamp = Math.floor(diff / 1e3) + ' giây trước';
                            }

                            var li = document.createElement('li');
                            li.classList += "noti-content";
                            var href = "/doc-tho?id=" + data[i].to_poem_id;
                            li.innerHTML = "<a class='noti-a' href=" + href + "><div class='noti-info'>" +
                            data[i].reactor + " just reacted to your poem <i>" + data[i].title+ "</i><br>" + time_stamp + "</div></a>";
                            noti_list.appendChild(li);
                        }

                        noti_cnt += data.length;
                    })
                }
            });

            loadNotification();

            var options_arr = document.getElementById('options-arrow');
            var options_content = document.getElementById('options-content');

            options_arr.onmouseover = function () {this.style.color = "white";};
            options_arr.onmouseout = function () {this.style.color = "#c2c2c2";};
            options_arr.addEventListener('click', function () {
                noti_bell.style.color = '#c2c2c2';
                drop_down_content.style.display = 'none';
                if (options_content.style.display == "none") {
                    options_content.style.display = "block";
                    options_arr.onmouseover = function () {};
                    options_arr.onmouseout = function() {};
                } else {
                    options_content.style.display = "none";
                    options_arr.onmouseover = function () {this.style.color = "white";};
                    options_arr.onmouseout = function () {this.style.color = "#c2c2c2";};
                }
            });


            logged_in = true;
        } else {
            //show unloggedin homepage
            user_menu.innerHTML = '<a href="/tao-tai-khoan"><div style="color:white; position:relative; display:inline-block; padding:14px;">Tạo tài khoản</div></a>' +
                                '<a href="/dang-nhap"><i class="fas fa-sign-in-alt" style="color:white; position:relative; display:inline-block; padding:14px;"></i></a>';
            document.getElementById('menu').appendChild(user_menu);

            logged_in = false;
        }

    })
}



</script>
<script>
    authenticate();

</script>

<style>
    a {
        text-decoration: none;
    }

    .noti-header {
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        padding:5px 5px 5px 10px;
        font-size:1.05em;
        background: white;
    }

    .noti-footer {
        border-width:1px 1px 1px 1px;
        border-style: solid;
        border-color:darkgrey;
        padding:5px;
        font-size:0.8em;
        text-align:center;
    }
    .noti-info {
        padding: 5px 0px 5px 0px;
    }
    .noti-a {
        text-decoration:none;
        color: #5E5E5E;
    }

    .noti-bell {
        color:#c2c2c2;
        position:relative;
        display:inline-block;
        height:22px;
        padding:16px 14px 12px 14px;
        cursor: pointer;
    }

    .noti-content {
        font-size: 0.8em;
        border-width:1px 1px 0px 1px;
        color: grey;
        font-size:1.1em;
        border-style: solid;
        border-color:darkgrey;
        padding:0px 15px 0px 15px;
    }


    .dropdown-content {
        font-family: "Times New Roman";
        color: #5E5E5E;
        padding:0px;
        list-style: none;
        font-size:1.1em;
        box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        display:none;
        position:absolute;
        width:360px;
        right:0px;
        background: white;
    }

    .opt-arrow {
        height:22px;
        color: #c2c2c2;
        position: relative;
        padding: 16px 14px 12px 14px;
        display: inline-block;
        cursor: pointer;
    }

    .options-content {
        font-family: "Times New Roman";
        color: #5E5E5E;
        padding:0px;
        font-size:0.9em;
        list-style: none;
        box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        display:none;
        position: absolute;
        width:200px;
        right:0;
        background: white;
    }

    .option {
        padding: 5px;
    }
    .option a{
        color: #5E5E5E;
    }

    .option a:hover{
        color: darkred;
    }
</style>